<div class="bg-light text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-6"> <img class="w-100" src="../../../assets/images/1_n4Yf5BWFimN3QO_3lZ-jhg.jpg" alt =""></div>
      <div class="col-md-6 text-start"> <h2 class="about">About us</h2>
        <p >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio illo animi autem cupiditate soluta at voluptates alias, quidem quo iste eum pariatur, magnam necessitatibus ipsa dignissimos assumenda maiores molestias. Nulla. Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga, nemo officiis eos perferendis harum illo facilis doloremque nesciunt quisquam enim laboriosam at saepe dignissimos ratione incidunt repudiandae, eius, ex aliquam! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magnam rerum nemo accusamus mollitia, vel consequatur possimus aspernatur doloribus voluptatibus ipsa sint quaerat perferendis reiciendis excepturi? Deleniti, dolorum. Sint, dicta error?</p></div>


    </div>
  </div>
</div>
