<div class="bg-white p-5 text-center">
  <div class="container">
    <div class="row">
      <h2>Our Popular Products</h2>
      <div class="col-sm-4 g-4">
        <div class="card">
          <img src="../../assets/images/1957cf40-7743-41b1-b56b-251c9258d17b.jpg" class="card-img-top image-scale image-translate" alt="..." />
          <div class="card-body">
            <h3 class="card-title">Taddy</h3>
            <h5 class="price bg-secondary">Price : 100$</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, hic?</p>
            <a href="#" class="btn btn-primary btn-scale">add to cart</a>
          </div>
        </div>
      </div>

      <div class="col-sm-4 g-4">
        <div class="card">
          <img src="../../assets/images/5ac95ddafe722f7d744805a1e679af7d.jpg" class="card-img-top image-scale image-translate" alt="..." />
          <div class="card-body">
            <h3 class="card-title">Dior</h3>
            <h5 class="price bg-secondary">Price : 350$</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, hic?</p>
            <a href="#" class="btn btn-primary btn-scale">add to cart</a>
          </div>
        </div>
      </div>

      <div class="col-sm-4 g-4">
        <div class="card">
          <img src="../../assets/images/105f9212ab4dcfa58d4889714d668a8a.jpg" class="card-img-top image-scale image-translate" alt="..." />
          <div class="card-body">
            <h3 class="card-title">Fendi</h3>
            <h5 class="price bg-secondary">Price : 200$</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, hic?</p>
            <a href="#" class="btn btn-primary btn-scale">add to cart</a>
          </div>
        </div>
      </div>

      <div class="col-sm-4 g-4">
        <div class="card">
          <img src="../../assets/images/30e374405df8e9f6ef46eca9971c01b8.jpg" class="card-img-top image-scale image-translate" alt="..." />
          <div class="card-body">
            <h3 class="card-title">Guess</h3>
            <h5 class="price bg-secondary">Price : 2000$</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, hic?</p>
            <a href="#" class="btn btn-primary btn-scale">add to cart</a>
          </div>
        </div>
      </div>

      <div class="col-sm-4 g-4">
        <div class="card">
          <img src="../../assets/images/58ac1f3414dceb94cc92bb6022908f03.jpg" class="card-img-top image-scale image-translate" alt="..." />
          <div class="card-body">
            <h3 class="card-title">Chanel</h3>
            <h5 class="price bg-secondary">Price : 4000$</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, hic?</p>
            <a href="#" class="btn btn-primary btn-scale">add to cart</a>
          </div>
        </div>
      </div>

      <div class="col-sm-4 g-4">
        <div class="card">
          <img src="../../assets/images/a892d84a716397ce4bd6f129ccb6aee7.jpg" class="card-img-top image-scale image-translate" alt="..." />
          <div class="card-body">
            <h3 class="card-title">Katyla</h3>
            <h5 class="price bg-secondary">Price : 8000$</h5>
            <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit, hic?</p>
            <a href="#" class="btn btn-primary btn-scale">add to cart</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
