
<div class ='mt-5'>
<div class="container text-center bg-light">
<h1>Our All Products</h1>
<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Image</th>
      <th>Price</th>
      <th>Description</th>
      <th>Quantity</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td>{{ product.id }}</td>
      <td>{{ product.name }}</td>
      <td><img src="{{ product.image }}" alt="{{ product.name }}" width="100"></td>
      <td>{{ product.price }}</td>
      <td>{{ product.description }}</td>
      <td>{{ product.totalQuantity }}</td>
      <td>
        <button class="btn btn-primary mr-2" (click)="updateProduct(product)">Update</button>
        <button class="btn btn-danger" (click)="deleteProduct(product)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
</div>
</div>
